stages:
  - build
  - deploy

variables:
  NODE_VERSION: "22"

.node_setup: &node_setup
  image: node:${NODE_VERSION}
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
  before_script:
    - corepack enable pnpm
    - pnpm config set store-dir .pnpm-store
    - curl -LsSf https://astral.sh/uv/install.sh | sh && ln -sf $HOME/.local/bin/uvx /usr/local/bin/uvx

build:
  stage: build
  <<: *node_setup
  script:
    - pnpm install --frozen-lockfile
    - pnpm nx run @idp-v2/infra:build
  artifacts:
    paths:
      - dist/
      - node_modules/
      - packages/*/node_modules/
    expire_in: 1 hour
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - apk add --no-cache nodejs npm python3 py3-pip aws-cli
    - npm install -g aws-cdk
  script:
    - cdk deploy --all --require-approval=never --app dist/packages/infra/cdk.out
  dependencies:
    - build
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  environment:
    name: production
